*{
    margin: 0;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

body{
    display: flex;
    background-image: url(./livros.jpeg);
    background-position: center center;
    background-size: cover;
  
}
#form{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    align-items: center;
    
}
form{
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid white;
    backdrop-filter: blur(10px);
    color: white;
}

table{
    display: flex;
    align-items: center;
    padding: 20px;
}
td{
    padding: 10px;
}
input{
    width: 300px;
    height: 30px;
    background-color: whitesmoke;
    border: 1px solid black;
}

input:hover {
    background-color: rgb(216, 216, 216);
}
#botao{
    width: 100px;
    margin-top: 30px;
}
