*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body{
    display: flex;
}
button{
    margin-top: 20px;
    margin-right: 15px;
}

div#container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(10px);
    height: 100vh;
    width: 100%;
}
div#nav{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    height: 65px;
    width: 100%;
}
a{
    color: black;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
}
#botao a:hover{
    color: rgb(255, 130, 102);
}
#botao a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(255, 130, 102);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}
#botao a:hover::after{
    width: 102%;
}  

div#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-image: url(../leitor/livros.jpeg);
   
    
}
div#banner h1{
    color: rgb(222, 255, 140);
    font-size: 60px;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


div#conteudo{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    height: 200px;
    
    
}
div#conteudo p{
    width: 700px;
    text-align: center;
}
div#botao{
    display: flex;
    justify-content: center;
}

span{
    margin-top: 20px;
    margin-right: 40px;
}