*{
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

table{
    margin: auto; /*Define a margem do elemento table como auto, o que significa que o navegador calculará automaticamente a margem esquerda e direita para centralizar a tabela horizontalmente.*/
    border-collapse: collapse; /*Define a propriedade border-collapse como collapse, o que remove os espaços entre as células da tabela.*/
    text-align: center;
}
table input{
    display: block;
    margin: 0 auto; /*Centraliza automaticamente todos os elementos no centro e com margem 0.*/
}
h1{
    padding: 20px;
}
p#resultado{
    color: red;
    margin-top: 30px;
}
